button {
  background-color: transparent;
  color: black;
  border: 3px solid black;
  padding: 10px 20px;
  border-radius: 100px;
  cursor: pointer;
  font-size: 18px;
  min-width: 200px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;

  &:hover {
    background-color: black;
    color: #fff;
  }

  &:active {
    background-color: #004085;
  }

  &:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
  }
}

@media (max-width: 980px) {
  button {
    min-width: 140px;
    font-size: 15px;
    padding: 8px 14px;
  }
}
