@use './globals' as *;

.card {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden; /* NEW */
  min-width: 0;
  min-height: 0; /* NEW */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  & figure {
    max-height: 300px;
    overflow: hidden;
    border-radius: 8px;
    margin: 0;
    flex: 0 0 auto;
    position: relative;

    & img {
      width: 100%;
      border-radius: 8px;
      object-fit: cover; /* Ensures images cover the area without distortion */
    }

    figcaption {
      display: none;
      position: absolute;
      bottom: 0;
      font-size: 10px;
      background: $color-light-bg;
      width: 100%;
    }
  }

  &-content {
    flex: 1; /* Allows the content to grow and fill available space */
    display: flex;
    flex-direction: column;
    justify-content: center;

    .text div {
      margin-bottom: 20px;
    }

    & .gradient-title {
      font-size: $font-size-md;
      margin-top: 15px;
    }

    & a {
      color: $color-dark-primary;
      margin-top: auto;
      padding: 10px 15px;
      border: 3px solid $color-dark-primary;
      border-radius: 50px;
      text-align: center;
    }
  }
}
