@use './globals' as *;

.footer {
  text-align: center;
  font-size: $font-size-xs;
  padding-top: 10px;

  a {
    color: $color-light-primary;
  }

  &.dark {
    background-color: $color-dark-bg;
    color: $color-dark-text;
  }
}
