.portfolio-header {
    position: absolute;
    width: 100%;

    &--container {
        max-width: 1400px;
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .main-logo {
        width: 75px;
    }

    .main-nav {
        ul {
            li {
                display: inline;
                padding: 10px 15px;
            }
        }
    }
}
