@use './globals' as *;

.single-project {
    padding-top: 200px;

    .section {
        padding: 2em 1em;
    }

    &--container {
        max-width: 1280px;
        margin: 0 auto;
    }

    &--header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    &--title {
        text-transform: uppercase;
        font-size: 3rem;
        @include gradient-title();
    }

    &--subtitle {
        text-transform: uppercase;
        font-size: 1rem;
    }

    &--description {
        .section-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1em;
        }
    }

    &--footer {
        display: flex;
        justify-content: space-around;
        padding: 2em 0;

        ul {
            li {
                display: inline-block;
                padding: 12px 20px;
                border-top: 2px solid black;
                border-bottom: 2px solid black;
                font-size: 1em;
            }
        }
    }

    &--links {
        position: relative;
        padding-left: 40px;
        
        &:before {
            content: "Links: ";
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            transform: translate(-100%, -50%);
            font-size: 1.5em;
            padding-right: 20px;

        }
    }

    &--stack {
        position: relative;
        padding-left: 40px;
        
        &:before {
            content: "Stack: ";
            text-transform: uppercase;
            position: absolute;
            top: 50%;
            transform: translate(-100%, -50%);
            font-size: 1.5em;
            padding-right: 20px;

        }
    }

    @media (max-width: 1280px) {
        &--footer {
            flex-direction: column;
        }

        &--stack,
        &--links {
            margin-bottom: 20px;

            ul {
                li {
                    font-size: 14px;
                    padding: 7px 10px;
                    a {
                        font-size: 14px;
                    }
                }
            }
            &:before {
                content: "";
            }
        }
    }
}