@use './globals' as *;

.single-project {
    padding: 180px 20px 40px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;

    .section {
        padding: 2em 1em;
    }

    &--container {
        max-width: 1280px;
        margin: 0 auto;
    }

    &--header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-bottom: 20px;
    }

    &--title {
        text-transform: uppercase;
        font-size: clamp(2rem, 5vw, 3rem);
        @include gradient-title();
        text-align: center;
    }

    &--subtitle {
        text-transform: uppercase;
        font-size: clamp(0.9rem, 1.8vw, 1.1rem);
        text-align: center;
    }

    &--meta-label {
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 12px;
    }

    &--description {
        @media (min-width: 1180px) {
            .section-content {
                display: grid;
                grid-template-columns: 1fr 5px 1fr;
                gap: 1em;
            }
        }
    }

    &--separator {
        background: linear-gradient(
            to bottom,
            #f9766f 0%,
            #d160a2 25%,
            #7f60d1 65%,
            #3b8ff1 90%,
            #7db9e8 100%
        );
    }

    &--footer {
        display: flex;
        justify-content: space-around;
        gap: 20px;
        padding: 2em 0;

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            li {
                display: inline-block;
                padding: 10px 14px;
                border-top: 2px solid black;
                border-bottom: 2px solid black;
                font-size: 1em;
            }
        }
    }

    &--links {
        position: relative;
    }

    &--stack {
        position: relative;
    }

    &.dark {
        background-color: $color-dark-bg;
        color: $color-dark-text;

        a {
            color: $color-dark-primary;
        }

        .single-project--footer ul li {
            border-top-color: $color-dark-text;
            border-bottom-color: $color-dark-text;
        }
    }

    @media (max-width: 980px) {
        padding: 36px 14px 30px;

        &--header {
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
        }

        &--title,
        &--subtitle {
            text-align: left;
        }

        &--meta-label {
            font-size: 1rem;
        }

        &--footer {
            flex-direction: column;
            align-items: flex-start;
        }

        &--stack,
        &--links {
            margin-bottom: 8px;
            width: 100%;

            ul {
                li {
                    font-size: 14px;
                    padding: 7px 10px;
                    a {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
