@use './globals' as *;

.projects {
  & .card-content {
    font-size: $font-size-sm;
    justify-content: flex-start;
    text-align: left;

    h3 {
      font-size: $font-size-md;
      padding: 20px 0 10px;
    }
  }
}
